body {
  padding-top: 3.5rem;
  /*background: url("/static/img/noise.png");*/
}

/* 定制超出文本省略号 */
.overflow-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1360px;
  }
}

@media (min-width: 2000px) {
  .container {
    max-width: 1600px;
  }
}
